<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Carrito de Compras</h1>
    </header>

    <div class="container">
        <h2>Productos en el Carrito</h2>
        <ul id="lista-carrito"></ul>
        <p id="total-carrito">Total: $0</p>
    </div>

    <script src="script.js"></script>
    <script>
        window.onload = function () {
            const listaCarrito = document.getElementById("lista-carrito");
            const totalCarrito = document.getElementById("total-carrito");

            carrito.forEach(producto => {
                const { nombre, precio } = producto;
                const itemCarrito = document.createElement("li");
                itemCarrito.textContent = `${nombre} - Precio: $${precio.toFixed(2)}`;
                listaCarrito.appendChild(itemCarrito);
            });

            totalCarrito.textContent = `Total: $${total.toFixed(2)}`;
        };
    </script>
</body>

</html>